<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'OuterHomePage.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'FCAI-CU.PNG' %}">
	<title>Home Page</title>

</head>
<body>
	<div class="row">
		<h1>Websites</h1>
		<div class="col-lg-4 col-md-6 col-sm-12" id="container1">
		<p>Human resources<br>
			<br> is the set of people who make up the workforce of an organization, business sector, industry, or economy. A narrower concept is human capital, the knowledge and skills which the individuals command. Similar terms include manpower, labor, personnel, associates or simply: people.</p>
		<button type="button" id="button1">Human resources</button>
        </div>
		<div class="col-lg-4 col-md-6 col-sm-12" id="container2">
		<p><strong>Student affairs</strong><br>
			<br>
		 is the department or division of services and support for student success at institutions of higher education to enhance student growth and development.People who work in this field are known as student affairs practitioners or student affairs professionals.</p>
		<a href="login">
		 <button type="button" id="button2">Student affairs</button>
		</a>
        </div>

		<div class="col-lg-4 col-md-12 col-sm-12" id="container3">
		<p>Higher studies<br>
			<br>is a stage of education after graduation and it's optional not obligatory and the student at that time can make master.</p>
        <button type="button" id="button3">Higher studies</button>
		</div>
        <div class="col-lg-4 col-md-12 col-sm-12" id="container4">
            <p>This company is a very great company, It is known for producing luxury vehicles and commercial vehicles, It is known for its powerful motors, Every year, the company sells millions of car around the world and gains alot of money.</p>
            <button type="button" id="button4">Laboratory tracking</button> 
        </div> 
	</div>

</body>
</html>